#navbar {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
#navbar ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#logo {
  text-align: center;
  margin: 15px;
  display: grid;
  padding: 5px;
  font-size: 2rem;
}
