#navbar ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#logo {
  padding: 10px;
  font-size: 2rem;
  border: black;
  border-width: 4px;
  border-style: double;
}

@media screen and (max-width: 700px) {
  #navbar ul {
    font-size: 1.2rem;
    grid-template-columns: 1fr;
  }
  #navbar ul li {
    text-align: center;
  }
}
